.auth-page {
  min-height: 100vh; /* Гарантирует высоту экрана */
  min-width: 100vw; /* Гарантирует ширину экрана */
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Зафиксированный фон */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  overflow: hidden; /* Убирает скролл, если не нужен */
}

.auth-card {
  padding: 32px;
  border-radius: 24px;
  max-width: 420px;
}

.auth-logo {
  display: block;
  margin: 0 auto 24px;
  width: 120px;
}

.auth-button-enter {
  width: 100%;
  margin-top: 120px;
  padding: 12px;
  border-radius: 60px;
  background: black;
  color: white;
  font-size: 25px;
  cursor: pointer;
  transition: background 0.3s;
}
