.header {
  background-color: #6f4e37;
  color: white;
  height: 90px;
  padding: 16px;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  position: relative;
}

.header-logo {
  width: 75px;
  height: 75px;
  object-fit: contain;
  margin-right: 16px;
  flex-shrink: 0;
}

.header-title {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  line-height: 1;
  transform: translateY(4px); /* можно тонко подогнать под центр иконки */
}
